<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<div class=" background-image-container white-text-container" style="background-image: url('https://res.cloudinary.com/dz83jh064/image/upload/v1630962761/fondvierge_shtwyk.png'); background-attachment:local; min-height: 1000px;">
<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">06 : Notre charte de modération</h1>
          </div>

          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h3>1.  Respect de la liberté d’expression</h3>
                  <p>Afin de pouvoir conserver un débat constructif et varié, chacun doit pouvoir s’exprimer en toute liberté, la seule condition à respecter sera la confraternité volet 3 de cette charte.
                  Nos discussions devront donc refléter la diversité odontologique française.
                  </p>
                  <h3>2.  Respect de la liberté d’opinion</h3>
                  <p>Chaque membre admin modèrera uniquement les règles de bienveillance, mais en aucun cas une vision divergente de la sienne. Le principe même de la plateforme sera de pouvoir exprimer en toute sécurité un autre regard sur notre profession. Le résultat final ne sera que constructif pour notre profession.</p>
                  <h3>3.  Respect de la confraternité</h3>
                  <p>La confraternité odontologique française est devenue rare, notamment sur les réseaux sociaux. #MAJSD veillera donc au respect de règles essentielles : ici toute tentative d’intimidation, toute délation et tout rapport de force n’aura pas sa place sur notre plateforme. Chacun doit pouvoir poster et commenter en toute sécurité et sans crainte de quelconques représailles.</p>
                  <h3>4.  Aucune démarche commerciale</h3>
                  <p>#MAJSD ne devra en aucun cas être une vitrine pour quelconques sociétés commerciales. Nous aurons bien-sûr le droit de parler de matériels et de consommables, mais aucune société ne pourra promouvoir ses produits à travers des posts. #MAJSD se voudra donc entièrement indépendante et libre comme ses utilisateurs.</p>
                  <h3>5.  Un anonymat complet</h3>
                  <p>Afin de pouvoir respecter notre valeur essentielle : « ici tout le monde est lambda », tout membre de la plateforme (utilisateurs et modérateurs) sera anonyme. Cela peut paraitre déstabilisant mais si nous jouons le jeu, nous pourrons vivre de vrais débats d’idées non biaisés. Cela déplaira à certains mais ils ne seront qu’une minorité.</p>
                </div>
                <div class="col-xs-12 col-md-6">

                </div>
              </div>
            </div>
          </div>


       </div>
      </div>
    </div>
  </div>
</div>


