<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<div class=" background-image-container white-text-container" style="background-image: url('https://res.cloudinary.com/dz83jh064/image/upload/v1630962761/fondvierge_shtwyk.png'); background-attachment:local; min-height: 1000px;">
<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">05 : Notre fonctionnement</h1>
          </div>

          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h3>Un équipe modératrice représentative de la diversité odontologique française</h3>
                  <p>L'équipe sera choisie au sein d'un panel représentatif de la profession. Elle sera au nombre maximal de 10 volontaires bénévoles. Leur identité ne sera pas dévoilée, les membres auront pour pseudo (lui-même non visible) un simple chiffre. </p>
                  <h3>Une charte précise et confraternelle </h3>
                  <p>La charte établie sera validée et signée par l'ensemble de l'équipe modératrice. Celle-ci veillera au respect de la confraternité et permettra un débat constructif en dehors de toute intimidation et pression. Elle sera bien-entendu disponible sur simple demande.
                  <h3>Une navigation entièrement anonymisée</h3>
                  <p>
                  La plateforme n'utilise pas de CMS (style Wordpress), elle est entièrement codée sur-mesure. La base de donnée indispensable au fonctionnement du site n'intégrera que les messages et les commentaires ainsi que l'historique des actions de l'équipe modératrice (afin de préserver transparence et traçabilité). Aucun nom, aucune information personnelle ne seront sauvegardés. L'équipe modératrice sera elle-même anonymisée.</p>
                </div>
                <div class="col-xs-12 col-md-6">

                </div>
              </div>
            </div>
          </div>


       </div>
      </div>
    </div>
  </div>
</div>

