<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<div class=" background-image-container white-text-container" style="background-image: url('https://res.cloudinary.com/dz83jh064/image/upload/v1630962761/fondvierge_shtwyk.png'); background-attachment:local; min-height: 1000px;">
<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">02 : Les messages</h1>
          </div>
          <% @messages = Message.where(statut: "yes")%>
          <% if @messages.length == 0 %>
            <div class="card">
            <div class="card-header" style="background-color:grey;color:black;">
                    #MAJSD</div>
            <div class="card-body" style="background-color:white;color:black;">
            <p class="card-text" style="background-color:white;color:black;" >Pas de messages pour le moment...</p>

            </div>
          </div>



          <% else%>
            <% @messages.each do |mess|%>
            <div class="card">
              <div class="card-header" style="background-color:grey;color:black;">
                    Message publié le <%=mess.created_at.strftime("%d.%m.%Y") %></div>
              <div class="card-body" style="background-color:white;color:black;">
                <p class="card-text" style="background-color:white;color:black;" ><%=mess.content%></p>

                <%= link_to 'Voir le message',  new_message_messagecommit_path(mess.id) , class:"btn btn-primary" ,style:"background-color:grey;color:black;"%>
              </div>
            </div>
            <br>
          <%end%>
        <%end%>
      </div>
    </div>
  </div>
</div>
</div>

