<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<div class=" background-image-container white-text-container" style="background-image: url('https://res.cloudinary.com/dz83jh064/image/upload/v1630962761/fondvierge_shtwyk.png'); background-attachment:local; min-height: 1000px;">
<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">04 : Pourquoi #MAJSD ?</h1>
          </div>

          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h3>#MAJSD : la plateforme des chirurgiens-dentistes de France pour communiquer et débattre en toute liberté et ce de manière anonyme.</h3>
                  <p>#MAJSD est née d’un constat simple venant des réseaux sociaux classiques : nous ne pouvons plus discuter, débattre ou dénoncer des injustices sans nous faire démonter par quelques-uns tout simplement parce que notre version divergente dérange. Alors nous laissons ces mêmes personnes orchestrer notre profession. Ceci est un véritable gâchis et une perte de chance pour notre profession.</p>
                  <h3>Un fonctionnement simple</h3>
                  <p>#MAJSD aura un fonctionnement simple : permettre à tout chirurgien-dentiste français de s’exprimer anonymement et ce sans se faire démonter. Afin d’éviter tout dérapage, une modération sera mise en place et devra respecter une charte : à savoir préserver la liberté d’expression tout en refusant délations, intimidations ou rapports de forces. Seul le vrai débat constructif sera mis à l’honneur. L’équipe de modération sera diverse et variée et représentera la profession dentaire française dans son ensemble.</p>
                  <h3>Des objectifs simples</h3>
                  <p>Les petites voix de la chirurgie-dentaire française pourront enfin s’exprimer. Si vous êtes victimes d’intimidation, de harcèlement ou d’autres pratiques non confraternelles mettant en danger votre vie professionnelle ainsi que votre santé mentale, #MAJSD sera également présente pour vous permettre de vous exprimer en toute sécurité.</p>
                </div>
                <div class="col-xs-12 col-md-6">

                </div>
              </div>
            </div>
          </div>


       </div>
      </div>
    </div>
  </div>
</div>

